{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Siza's eShopping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    
</head>

<body>
<header class="mb-4">
    
  <img src="{% static 'assets/name_logo.JPG' %}" alt="Company Logo" class="w-100" style="height: 150px;">

  
</header>
  <!-- Main Container -->
  <div class="container my-5">
    <div class="row g-4">
           <!-- Product 1 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/Acer_laptop.webp' %}" class="card-img-top product-img" alt="Product 1" />
          <div class="card-body text-center">
            <h5 class="card-title">Acer Aspire Lite i3 N300 8GB 512GB WIN11 Home Silver</h5>
            <p class="card-text">R5 975.89</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 2 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/Sumsung Galaxy.webp' %}" class="card-img-top product-img" alt="Product 2" />
          <div class="card-body text-center">
            <h5 class="card-title">Samsung Galaxy S24 Ultra Black 256GB 5G <br><br></h5>
            <p class="card-text">R19 798.90</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 3 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/headsets.webp' %}" class="card-img-top product-img" alt="Product 3" />
          <div class="card-body text-center">
            <h5 class="card-title">JBL Live 770NC Noise Cancelling Wireless Over-Ear Headphones</h5>
            <p class="card-text">R1 578.89</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 4 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/washing_machine.webp' %}" class="card-img-top product-img" alt="Product 4" />
          <div class="card-body text-center">
            <h5 class="card-title">LG 10.5 kg Front Loader Washing Machine F4V5RYP2T - Grey</h5>
            <p class="card-text">R9 998.69</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 5 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/kitle.webp' %}" class="card-img-top product-img" alt="Product 5" />
          <div class="card-body text-center">
            <h5 class="card-title">Smeg KLF03BLSA 3D Logo Kettle, Black, 1.7 Litre</h5>
            <p class="card-text">R2 400.79</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 6 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/playstation.webp' %}" class="card-img-top product-img" alt="Product 6" />
          <div class="card-body text-center">
            <h5 class="card-title">Sony PlayStation 5 SLIM DIGITAL CONSOLE<br><br></b></h5>
            <p class="card-text">R11 500.00</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 7 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/coffe_machine.webp' %}" class="card-img-top product-img" alt="Product 6" />
          <div class="card-body text-center">
            <h5 class="card-title">Gaggia Cadorna Bean To Cup Automatic Coffee Machine</h5>
            <p class="card-text">R13 500.89</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 8 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/HissenseTV.webp' %}" class="card-img-top product-img" alt="Product 6" />
          <div class="card-body text-center">
            <h5 class="card-title">Hisense 58-inch Smart 4K UHD TV-58A6N<br><br></h5>
            <p class="card-text">R6 999.80</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 9 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/oven.webp' %}" class="card-img-top product-img" alt="Product 6" />
          <div class="card-body text-center">
            <h5 class="card-title">Beko 60cm Aeroperfect Built-In Oven Inox <br><br></h5>
            <p class="card-text">R4 999.70</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 10 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/Aiwa System.webp' %}" class="card-img-top product-img" alt="Product 6" />
          <div class="card-body text-center">
            <h5 class="card-title">Aiwa ACSD-5200 5.2 Channel HiFi Component System</h5>
            <p class="card-text">R3 999.39</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
     <!-- Product 11 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/headsets.webp' %}" class="card-img-top product-img" alt="Product 3" />
          <div class="card-body text-center">
            <h5 class="card-title">Sony Live 550NC Noise Cancelling Wireless Over-Ear Headphones</h5>
            <p class="card-text">R2 044.19</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
      <!-- Product 12 -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <img src="{% static 'assets/washing_machine.webp' %}" class="card-img-top product-img" alt="Product 4" />
          <div class="card-body text-center">
            <h5 class="card-title">Sumsung 13.5 kg Front Loader Washing Machine F4U5RYR2X </h5>
            <p class="card-text">R14 498.09</p>
            <button class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <form class="row g-3 align-items-center justify-content-center">
        <div class="col-auto">
          <img src="{% static 'assets/logo.JPG' %}" class="logo" alt="Company Logo" />
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="col-auto">
          <input type="email" class="form-control" placeholder="Email" />
        </div>
        <div class="col-auto">
          <input type="text" class="form-control" placeholder="Phone" />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary">Contact Us</button>
        </div>
      </form>
    </div>
  </footer>  
</html>
